language: java 
jdk:
  - openjdk8
install: true

script:
  - ./gradlew build

before_deploy:
  # Set up git user name and tag this commit
  - git config --local user.name "Yihy"
  - git config --local user.email "yihy8023@gmail.com"
  - git tag "$(date +'%Y%m%d%H%M%S')-$(git log --format=%h -1)"
deploy:
  provider: releases
  api_key: "$api_key"
  file: "build/libs/resources_cn.jar"
  skip_cleanup: true

after_success:
  - ./gradlew coveralls
